.slider {
  width: var(--slider-width);
  height: var(--slider-height);
  overflow: hidden;
  margin: 2rem auto;
  position: relative;
}
.slider::before,
.slider::after {
  position: absolute;
  height: 100%;
  width: 10rem;
  top: 0;
  content: '';
  z-index: 1;
}
.slider::before {
  left: 0;
  background: linear-gradient(to right, var(--bg) 0%, transparent 100%);
}
.slider::after {
  right: 0;
  background: linear-gradient(to left, var(--bg) 0%, transparent 100%);
}

.sliderContent,
.sliderContentBottom {
  display: flex;
  list-style: none;
  height: 100%;
  animation: scrolling var(--slider-duration-animation) linear infinite;
}
.sliderContent li,
.sliderContentBottom li {
  width: var(--slider-elm-width);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  white-space: nowrap;
  flex-shrink: 0;
  font-size: calc(var(--slider-height) * 3 / 4);
}

.sliderContentBottom span svg {
  width: var(--fun-skill-elm-width);
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--slider-elm-width) * var(--slider-elms))); }
}

@media (max-width: 768px) {
  /* :root {
    --marquee-width: 100%;
    --marquee-elms-displayed: 3;
  } */
  .slider::before,
  .slider::after {
    width: 5rem;
  }
}

@media (max-width: 450px) {
  /* :root {
    --marquee-elms-displayed: 2;
  } */
}
