.iconContainer {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 6vh;
}

.x1, .x2, .x3, .x4, .x5, .x6, .y1, .y2, .y3, .y4, .y5, .y6 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.x1 {
  animation: x 9s linear infinite alternate;
}
.x2 {
  animation: x 6s linear infinite alternate;
}
.x3 {
  animation: x 8s linear infinite alternate;
}
.x4 {
  animation: x 5s linear infinite alternate;
}
.x5 {
  animation: x 6s linear infinite alternate;
}
.x6 {
  animation: x 4s linear infinite alternate;
}

.y1 {
  animation: y 5s linear infinite alternate;
  width: 60px;
  height: 60px;
}
.y2 {
  animation: y 3s linear infinite alternate;
  width: 60px;
  height: 60px;
}
.y3 {
  animation: y 7s linear infinite alternate;
  width: 60px;
  height: 60px;
}
.y4 {
  animation: y 6s linear infinite alternate;
  width: 60px;
  height: 60px;
}
.y5 {
  animation: y 5s linear infinite alternate;
  width: 60px;
  height: 60px;
}
.y6 {
  animation: y 6s linear infinite alternate;
  width: 60px;
  height: 60px;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 200px));
  }
}